header {
    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none !important;
    }



    .header-iconohamburguesa img {

        height: 2rem !important;
    }

    .nav-item:hover {
        font-weight: bold;
    }
}