#main-productos {
    img {
        width: 100%;
    }

    .grid-productos {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "prod1 prod2 prod3 prod4"
            "prod5 prod6 prod7 prod8";
        justify-content: space-between;
    }

    .prod1 {
        grid-area: prod1;
    }

    .prod2 {
        grid-area: prod2;
    }

    .prod3 {
        grid-area: prod3;
    }

    .prod4 {
        grid-area: prod4;
    }

    .prod5 {
        grid-area: prod5;
    }

    .prod6 {
        grid-area: prod6;
    }

    .prod7 {
        grid-area: prod7;
    }

    .prod8 {
        grid-area: prod8;
    }

    .prod1,
    .prod2,
    .prod3,
    .prod4,
    .prod5,
    .prod6,
    .prod7,
    .prod8 {
        display: flex;
        flex-direction: column;
    }

    .article-flex-main-productos {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        padding: 30px;
        text-align: center;
    }
}

@media (max-width: 1440px) {
    #main-productos {
        .grid-productos h3 {
            font-size: 25px;
        }
    }
}

@media (max-width: 1024px) {
    #main-productos {
        .grid-productos h3 {
            font-size: 20px;
        }
    }
}

@media (max-width: 768px) {
    #main-productos {
        .grid-productos h3 {
            font-size: 15px;
        }
    }
}

@media (max-width: 450px) {
    #main-productos {
        .grid-productos {
            display: grid;
            grid-template-columns: 40% 40%;
            grid-template-rows: 1fr 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "prod1 prod2"
                "prod3 prod4"
                "prod5 prod6"
                "prod7 prod8";
            justify-content: space-between;
        }
    }
}