#main-index {

    .grid-index {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: space-between;
        align-items: stretch;
        grid-template-areas:
            "seccion1 seccion2 seccion3";
    }

    .seccion2 {
        grid-area: seccion2;
    }

    .seccion1 {
        grid-area: seccion1;
    }

    .seccion3 {
        grid-area: seccion3;
    }

    .seccion1,
    .seccion2,
    .seccion3 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
    }

    //Banner Index
    img {
        width: 100%;
    }
}

@media (max-width: 450px) {
    #main-index {
        .grid-index {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            justify-content: space-between;
            align-items: center;
            grid-template-areas:
                "seccion1"
                "seccion2"
                "seccion3"
        }
    }
}